* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Aktura', serif;
}

h1 {
  font-size: 2rem;
}

img,
picture,
video,
canvas,
svg {

}
