/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* VARIABLE CSS */
:root {
  --header-height: 3rem;
  /* COLOUR */
  --first-colour: rgb(225, 0, 255);
  --second-colour: rgb(0, 4, 255);
  --background--colour: rgb(0, 0, 0);
  --gradient: -webkit-linear-gradient(180deg, var(--first-colour), var(--second-colour));
  /* TYPOGRAPHY */
  --body-font: "Poppins", sans-serif;
  --big-font-size: 3rem;
  /* MARGINS */
  --mb-1: 1rem;
  --mb-2: 2rem;
  --mb-3: 3rem;
  --mb-4: 4rem;
}

/* HEADER */
.home {
}
.gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
